
body{
   font-family: Arial, sans-serif;

}
table {
 
    border-collapse: collapse;
   
}
th {


font-size: 20px;

}



td, th {
   
    text-align: left;
    padding: 8px;
    border:1px solid #C3D135;
}
    
.title{

  color: #12BC27
}
.lable{

color:#581845;
font-weight:bold;
width: 200px; 
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input {
width:225px;
}

